 .u-section-1 {
  background-image: none;
  min-height: 938px;
}

.u-section-1 .u-slider-1 {
  min-height: 940px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-image-1 {
  background-image: url("images/home_t2_s3.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-image-2 {
  background-image: url("images/home_t2_s1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-carousel-control-1 {
    top: 268px;
    padding: 4px;
  }

  .u-section-1 .u-carousel-control-2 {
    top: 244px;
    padding: 4px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-slider-1 {
    min-height: 440px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 834px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 410px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-2 {
  background-image: linear-gradient(180deg, #f2ede9, #631313);
  min-height: 371px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 1px;
}

.u-section-2 .u-image-1 {
  min-height: 400px;
  background-image: url("images/image16.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 16px 11px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0 443px 0 137px;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  margin: 0 628px 0 151px;
}

.u-section-2 .u-text-3 {
  font-style: normal;
  line-height: 25.6px;
  margin: 10px 846px 0 164px;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  border-style: solid;
  background-image: none;
  margin: 13px auto 0 172px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 301px;
  }

  .u-section-2 .u-image-1 {
    min-height: 345px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 343px;
    margin-left: 37px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 528px;
    margin-left: 51px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 746px;
    margin-left: 64px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 224px;
  }

  .u-section-2 .u-image-1 {
    min-height: 264px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 160px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 359px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 590px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 161px;
  }

  .u-section-2 .u-image-1 {
    min-height: 198px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 182px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 413px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 91px;
  }

  .u-section-2 .u-image-1 {
    min-height: 125px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 213px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1170px;
}

.u-section-3 .u-shape-1 {
  width: 576px;
  height: 383px;
  margin: 414px auto 0 124px;
}

.u-section-3 .u-shape-2 {
  width: 465px;
  height: 497px;
  margin: -672px auto 0 301px;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 570px;
  margin: -474px auto 0 101px;
}

.u-section-3 .u-text-1 {
  font-family: "Akaya Kanadaka";
  margin: -468px 1px 0 801px;
}

.u-section-3 .u-text-2 {
  transition-duration: 0.5s;
  text-shadow: 2px 0 0 rgba(0,0,0,0);
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 74px 79px 2px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    border-style: solid;
  }

  .u-section-3 .u-text-1 {
    margin-right: -183px;
    margin-left: 602px;
  }

  .u-section-3 .u-text-2 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-scale: 1;
    --animation-custom_in-translate_y: 0px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-shape-2 {
    margin-left: 255px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 1px;
    margin-left: 382px;
  }

  .u-section-3 .u-text-2 {
    margin-bottom: 2px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1140px;
  }

  .u-section-3 .u-shape-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-3 .u-shape-2 {
    margin-left: 75px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: -438px;
    margin-left: 202px;
  }

  .u-section-3 .u-text-2 {
    margin-bottom: 4px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 940px;
  }

  .u-section-3 .u-shape-1 {
    width: 340px;
  }

  .u-section-3 .u-shape-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -238px;
    margin-left: 2px;
  }

  .u-section-3 .u-text-2 {
    margin-bottom: 2px;
  }
}

.u-section-3 .u-text-2,
.u-section-3 .u-text-2:before,
.u-section-3 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 679px;
}

.u-section-4 .u-text-1 {
  font-family: "Akaya Kanadaka";
  margin: 227px 570px 0 0;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 380px;
  margin: -262px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 152px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 350px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 170px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 360px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 242px;
    margin-right: 0;
    margin-left: 96px;
  }

  .u-section-4 .u-image-1 {
    height: 227px;
    margin-top: -523px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 602px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 76px 415px 0 390px;
}

.u-section-5 .u-list-1 {
  margin-top: 27px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  min-height: 284px;
  grid-template-columns: calc(20% - 4px) calc(20% - 4px) calc(20% - 4px) calc(20% - 4px) calc(20% - 4px);
  grid-gap: 5px 5px;
}

.u-section-5 .u-image-1 {
  background-image: url("images/image3.png");
}

.u-section-5 .u-container-layout-1 {
  padding: 10px;
}

.u-section-5 .u-image-2 {
  background-image: url("images/image4.png");
}

.u-section-5 .u-container-layout-2 {
  padding: 10px;
}

.u-section-5 .u-image-3 {
  background-image: url("images/image5.png");
}

.u-section-5 .u-container-layout-3 {
  padding: 10px;
}

.u-section-5 .u-image-4 {
  background-image: url("images/image6.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding: 10px;
}

.u-section-5 .u-image-5 {
  background-image: url("images/image7.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-5 {
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1111px;
  }

  .u-section-5 .u-text-1 {
    font-size: 6rem;
    margin-right: 315px;
    margin-left: 290px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 233px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1482px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 205px;
    margin-left: 180px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 3.33333px) calc(33.3333% - 3.33333px) calc(33.3333% - 3.33333px);
    min-height: 604px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1878px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 115px;
    margin-left: 90px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 2.5px) calc(50% - 2.5px);
    min-height: 1026px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1513px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 5px;
    margin-left: 0;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}