
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="cart.css">

    <title>Order</title>
</head>
<body>

    <div class="card">
        <div class="row">
            <div class="col-md-8 cart">
                <div class="title">
                    <div class="row" style="color: #990000;">
                        <div class="col"><h4><b>Shopping Cart</b></h4></div>
                        <div class="col align-self-center text-right text-muted"></div>
                    </div>
                </div>
                <div class="row border-top border-bottom">
                    <div class="row main align-items-center">
                        <div class="col-2"><img class="img-fluid" src="img/el-enemigo-chardonnay.jpg"></div>
                        <div class="col">
                            <div class="row text-muted">Rượu Vang Argentina El Enemigo Chardonnay</div>
                            <div class="row">940.000 &#8363; </div>
                        </div>
                        <div class="col">
                            <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
                        </div>
                        <div class="col"> 940.000 &#8363; <span class="close">&#10005;</span></div>
                    </div>
                </div>
                <div class="row">
                    <div class="row main align-items-center">
                        <div class="col-2"><img class="img-fluid" src="img/el-enemigo-chenin.jpg"></div>
                        <div class="col">
                            <div class="row text-muted">Rượu Vang Argentina El Enemigo Chenin</div>
                            <div class="row">940.000 &#8363;</div>
                        </div>
                        <div class="col">
                            <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
                        </div>
                        <div class="col">940.000 &#8363; <span class="close">&#10005;</span></div>
                    </div>
                </div>
                <div class="row border-top border-bottom">
                    <div class="row main align-items-center">
                        <div class="col-2"><img class="img-fluid" src="img/ruou-sam-panh-champagne-ruinart-blanc-de-blancs.jpg"></div>
                        <div class="col">
                            <div class="row text-muted">Rượu Sâm Panh Champagne Ruinart Blanc De Blancs</div>
                            <div class="row">
                                7.150.000 &#8363;
                            </div>
                        </div>
                        <div class="col">
                            <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
                        </div>
                        <div class="col">
                            7.150.000 &#8363;<span class="close">&#10005;</span>
                        </div>
                    </div>
                </div>
                <div class="back-to-shop"><a href="#">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
            </div>
            <div class="col-md-4 summary">
                <div><h5><b>Summary</b></h5></div>
                <hr style="border-top: 1px solid #990000; ">
                <div class="row">
                    <div class="col" style="padding-left:0;">ITEMS </div>
                    <div class="col text-right">9.030.000 &#8363;</div>
                </div>
                <form>
                    <p>SHIPPING</p>
                    <select><option class="text-muted">Standard-Delivery- 30.000 &#8363;</option></select>
                    <p>GIVE CODE</p>
                    <input id="code" placeholder="Enter your code">
                </form>
                <div class="row" style="border-top: 1px solid #990000; padding: 2vh 0;">
                    <div class="col">TOTAL PRICE</div>
                    <div class="col text-right">9.060.000 &#8363;</div>
                </div>
                <button class="btn">CHECKOUT</button>
            </div>
        </div>

    </div>

</body>
</html>